#pink-btn {
  background-color: #D23CDE !important
}

#blue-btn {
  background-color: #3C72DE !important
}

#red-btn {
  background-color: #e64343 !important
  
}

#yellow-btn {
  background-color: #f2e874 !important
}

#green-btn {
  background-color: #24960e !important
}

#aqua-btn {
  background-color: #43e6b5 !important
}

#purple-btn {
  background-color: #7b1da3 !important;
}
